/*
 * Base structure
 */
body {
    background:url(../images/home/home_bg.jpg) no-repeat no-repeat center -150px;
    color: #505050;
    min-width: 1010px;
}

/*
 * Text colors
 */
.blue {
    color: #69a3d5;
}
.gold {
    color: #ffc24a;
}
.bold {
    font-weight: 800;
}
.nobullet {
    list-style-type: none;
    padding-left: 0;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.main-container {
    margin: 0 auto;
    min-width: 997px;
}

/*
 * Navbar
 */

.navbar {
    width: 100%;
    position: absolute;
    top: 45px;
    padding: 0 0 20px 0;
    margin: 0;
    background: rgb(255, 255, 255) transparent;
    /* nice browsers */
    background: rgba(255, 255, 255, 0.8);
    /* IE 6/7 */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)";
}
.navbar-nav > li {
    width: 181px;
    text-align: center;
    padding-top: 20px;
    margin-top: -1px;
}
.navbar-nav > li.active {
    background-repeat: no-repeat;
    background-image: url("../images/global/nav/link_hover.png");
}
.navbar-nav > li > a {
    font-size: 14px;
    color: #333638;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}
.navbar-nav > li > a:hover {
    text-decoration: underline;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #333638;
}
.navbar-nav > li.active > a:hover {
    text-decoration: none;
}
.navbar-default .navbar-nav > li > a {
    color: #333638;
}
.nav-contact {
    position: absolute;
    top: 10px;
    left: 284px;
}
.nav-contact h4 {
    margin-bottom: 4px;
}
.nav-contact h5 {
    font-weight: bold;
    margin-top: 4px;
}

/*
 * Sidebar
 */

.sidebar {
    padding: 0;
    width: 252px;
    max-width: 252px;
    min-width: 252px;
}
.sidebar .sidebar-container {
    background-color: #333638;
    color: #FFF;
    padding: 20px 10px;
}

/* Sidebar navigation */
.navbar-header {
    position: absolute;
}
.dropdown-menu {
    background: transparent;
}
.dropdown .glyphicon-chevron-right {
    position: absolute;
    right: 10px;
    top: 30%;
}
.nav-sidebar > li,
.dropdown-menu li {
    margin-bottom: 2px;
    color: #fff;
    font-weight: bold;
}
.nav-sidebar > li > a {
    background-color: #333638;
}
.nav-sidebar > li > a,
.dropdown-menu li > a {
    font-size: 13px;
    color: #fff;
    padding-right: 20px;
    padding-left: 20px;
}
.dropdown-menu li > a {
    padding: 10px 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .open > a,
.nav-sidebar > .open > a:hover,
.nav-sidebar > .open > a:focus,
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus,
.dropdown-menu li > a,
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus {
    background-color: #494c4d;
    color: #FFF;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus {
    text-decoration: underline;
}
.nav-sidebar .dropdown-menu {
    margin-top: -38px;
    margin-left: 222px;
    padding: 0;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

/*
 * Logo content
 */

.nav-logo-container {
    background-color: #69a3d5;
    padding-top: 20px;
}
.logo-container {
    background-color: #FFF;
    padding: 20px 0px;
    text-align: center;
}

/*
 * Process content
 */

.process-sub-container {
    padding: 0;
}
.process-container .process-sub-container h2 {
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
}
.process-sub-container h3 {
    margin-bottom: 5px;
    margin-top: 0;
}
.process-sub-container h4 {
    margin-top: 0;
}

/*
 * Review
 */
.ratings-reviews p {
    margin-bottom: 0px;
}
.review {
    padding: 20px 30px;
    border-bottom: 1px dotted #000;
    position: relative;
}
.review:last-child {
    border-bottom: 0;
}
.review .quote_start {
    background-repeat: no-repeat;
    background-image: url("../images/home/quote_start.png");
    height: 20px;
    width: 20px;
    position: absolute;
    top: 16px;
    left: 0;
}
.review .quote_end {
    background-repeat: no-repeat;
    background-image: url("../images/home/quote_end.png");
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 26px;
    right: 0;
}


/*
 * Main content
 */

.main {
    padding: 20px;
    background: #FFF;
    width: 745px;
}
.main.top {
    margin-top: 140px;
    min-height: 500px;
}
.main.bottom {
    margin-top: 638px;
}
@media (min-width: 1200px) {
    .main {
        width: 75%;
    }
}
.regular-main {
    margin: 140px auto 0;
    width: 960px;
    padding: 15px;
    background: #FFF;
}
.full-main {
    margin-top: 140px;
    padding: 20px;
    background: #FFF;
}
.main h1 {
    font-weight: bold;
    border-bottom: 1px solid #000;
    font-size: 26px;
    line-height: 40px;
    margin-top: 0;
}
.main h2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    margin-top: 0;
}
.main .page-header {
     margin-top: 0;
}
.main .person {
    background-repeat: no-repeat;
    background-image: url("../images/global/person/person1.png");
    height: 483px;
    width: 320px;
    display: block;
}

/*
 * sb
 */

.sb-container{
    margin-bottom: 15px;
}
.sb-center{
    text-align: center;
}
.sb-container ul{
    margin: 0;
    padding: 0;
}
.sb-container ul ul{
    padding-left: 20px;
}
.sb-container ul li{
    list-style-type: none;
}
.sb-container ul li li{
    list-style-type: circle;
}
.sb-container h3{
    padding-bottom: 2px;
    border-bottom: 1px solid #000;
}
.sb-container img{
    max-width: 100%;
}
.certifed-container {
    text-align: center;
    border-bottom: 1px dotted #ffc24a;
}
.service-container {
    text-align: center;
}
.service-container h4 {
    margin-bottom: 4px;
}
.service-container h5 {
    font-weight: bold;
    margin-top: 4px;
}
.share-container h4 {
    font-weight: bold;
    color: #ffc24a;
    padding-bottom: 4px;
    border-bottom: 1px dotted #ffc24a;
}
.sub-sidebar {
    position: absolute;
    left: 270px;
    top: 136px;
    z-index: 1;
    display: none;
}

/*
 * Full Main content
 */

.full-main {
    margin-top: 140px;
    padding: 20px;
    background: #FFF;
}
.full-main h1 {
    font-weight: bold;
    border-bottom: 1px solid #000;
    font-size: 26px;
    line-height: 40px;
    margin-top: 0;
}
.full-main h2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    margin-top: 0;
}
.full-main .page-header {
     margin-top: 0;
}

/*
 * Match Options
 */

.match-options-container {
    background-repeat: no-repeat;
    background-image: url("../images/home/match_options_bg.jpg");
    height: 36px;
    width: 704px;
    display: inline-block;
}
.home .match-options-container {
    margin-top: 30px;
}
.match-options-container .second{
    margin-left: -25px;
}
.match-options-container .third{
    margin-left: -7px;
}
.match-option-container {
    padding-left: 20px;
}
.match-option-container span {
    line-height: 36px;
    font-size: 14px;
    vertical-align: top;
    padding-left: 0;
}
.match-option-container span.number {
    color: #f5ad20;
    font-size: 20px;
}

/*
 * Comment section
 */
.comment-section {
    text-align: center;
}

/*
 * Graph
 */
.horizontal-bar {
    height: 16px;
    background: #F6B32E;
}

/*
 * Rating
 */
.rating-static {
    width: 60px;
    height: 16px;
    display: block;
    background: url('/images/global/stars/star-rating.png') 0 0 no-repeat;
}
.rating-50 {
    background-position: 0 0;
}
.rating-40 {
    background-position: -12px 0;
}
.rating-30 {
    background-position: -24px 0;
}
.rating-20 {
    background-position: -36px 0;
}
.rating-10 {
    background-position: -48px 0;
}
.rating-0 {
    background-position: -60px 0;
}
.rating-5  {
    background-position: -48px -16px;
}
.rating-15 {
    background-position: -36px -16px;
}
.rating-25 {
    background-position: -24px -16px;
}
.rating-35 {
    background-position: -12px -16px;
}
.rating-45 {
    background-position: 0 -16px;
}
.rating-score {
    color: #279FD3;
    font-size: 1em;
    font-weight:bold;
}

/*
 * Social Sharing
 */

.social-sharing {
    margin: 10px 0;
    box-sizing: content-box;
}
.social-sharing * {
    box-sizing: content-box;
}

/*
 * Contractor
 */

.contractor .options-container {
    margin-top: 15px;
}
.contractor .reviews p {
    margin-bottom: 0;
}
.contractor .review {
    padding: 20px 20px;
}
.contractor .sub {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0d5c8;
}

/*
 * Contractors
 */

.contractors select{
    padding-left: 3px;
    padding-right: 3px;
}
.contractors .find-contractors select{
    margin-right: 5px;
}
.contractors .find-contractors .place_select{
    width: 28%;
}
.contractors .find-contractors .category_select{
    width: 34%;
}
.contractors .find-contractors .section_select{
    width: 35%;
}
.contractors .entry-image img{
    max-width: 100%;
}
.contractors .option{
    padding: 15px 0;
}
.contractors .reviews p {
    margin-bottom: 0;
}
.contractors .get-quote{
    margin-top: 10px;
}
.contractors .contractors-list li{
    border-bottom: 1px solid #E0D5C8;
}
.contractors .contractors-list li.last-child{
    border-bottom: 0px;
}
.contractors .more-details{
    margin-top: 10px;
}
.contractors .paginate{
    font-size: 0.8em;
}
.contractors .not-found{
    color: #333333;
    font-size: 0.916em;
}
.contractors a.morelink {
    margin: 5px 0 0 0;
    font-weight:normal;
}

/*
 * Promotion
 */

body.promotion{
    background: url(../images/global/bg/bg-2.jpg) no-repeat no-repeat center top;
}
.promotion .main{
    margin-top: 140px;
    min-height: 600px;
    text-align: center;
    background: transparent;
}
.promotion .main h1{
    border: none;
}
.promotion .main h2{
    font-size: 26px;
    font-weight: 700;
}
.promotion .main h1,
.promotion .main h2{
    margin-top: 100px;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 100px;
}
.promotion .main .btn{
    text-transform: uppercase;
    padding: 10px 20px;
}
.promotion .curl{
    background: url('/images/promotion/curl.png') 0 0 no-repeat;
    position: absolute;
    right: 0;
    top: 136px;
    width: 613px;
    height: 637px;
    text-align: center;
}
.promotion .curl-content{
    position: absolute;
    left: 250px;
    width: 310px;
}
.promotion .curl h3{
    color: #fe0000;
    font-size: 30px;
    text-transform: uppercase;
}
.promotion .curl p{
    color: #404040;
}

/*
 * Place
 */

.place .options-container{
    margin-bottom: 20px;
}
.place .secondary-options-container{
    text-align: right;
    margin-top: 6px;
}

/*
 * Place
 */

.need .entry-body .options-container{
    margin-top: 15px;
}
.need .secondary-options-container{
    text-align: right;
    margin-top: 6px;
}
.need .sub {
    border-bottom: 1px solid #e0d5c8;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

/*
 * Footer
 */

 footer .container {
    margin: 0 auto;
    color: #FFF;
 }
.footer-top-container {
    background-color: #333638;
    font-size: 13px;
    padding-bottom: 10px;
}
.footer-top-container h3 {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 6px;
    border-bottom: 1px dotted #FFF;
}
.footer-top-container h3 a {
    font-size: 15px;
}
.footer-top-container h3 a:hover {
    color: #69a3d5;
    text-decoration: none;
}
.footer-top-container ul{
    padding-left: 5px;
}
.footer-top-container li {
    padding-bottom: 5px;
}
.footer-top-container li i{
    padding-right: 5px;
}
.footer-top-container li a {
    color: #FFF;
}
.footer-bottom-container {
    font-size: 13px;
    padding: 10px 0 0;
    background-color: #000;
}