/*
 * Base structure
 */
body {
    color: #505050;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

body {
    background:url(../images/global/bg/small/bg-0.jpg) no-repeat no-repeat center -150px;
}

body.place-request {
    background: url(../images/global/bg/small/bg-2.jpg) no-repeat no-repeat center top;
}

body.background0 {
    background:url(../images/global/bg/small/bg-0.jpg) no-repeat repeat center 0;
}

body.background1 {
    background:url(../images/global/bg/small/bg-1.jpg) no-repeat repeat center 0;
}

body.background2 {
    background:url(../images/global/bg/small/bg-2.jpg) no-repeat repeat center 0;
}

body.background3 {
    background:url(../images/global/bg/small/bg-3.jpg) no-repeat repeat center 0;
}

body.background4 {
    background:url(../images/global/bg/small/bg-4.jpg) no-repeat repeat center 0;
}

body.background5 {
    background:url(../images/global/bg/small/bg-5.jpg) no-repeat repeat center 0;
}

body.background6 {
    background:url(../images/global/bg/small/bg-6.jpg) no-repeat repeat center 0;
}

body.background7 {
    background:url(../images/global/bg/small/bg-7.jpg) no-repeat repeat center 0;
}

body.background8 {
    background:url(../images/global/bg/small/bg-8.jpg) no-repeat repeat center 0;
}

body.background9 {
    background:url(../images/global/bg/small/bg-9.jpg) no-repeat repeat center 0;
}

body.background10 {
    background:url(../images/global/bg/small/bg-10.jpg) no-repeat repeat center 0;
}

body.background11 {
    background:url(../images/global/bg/small/bg-11.jpg) no-repeat repeat center 0;
}

body.background12 {
    background:url(../images/global/bg/small/bg-12.jpg) no-repeat repeat center 0;
}

body.background13 {
    background:url(../images/global/bg/small/bg-13.jpg) no-repeat repeat center 0;
}

body.background14 {
    background:url(../images/global/bg/small/bg-14.jpg) no-repeat repeat center 0;
}

body.background15 {
    background:url(../images/global/bg/small/bg-15.jpg) no-repeat repeat center 0;
}

body.background16 {
    background:url(../images/global/bg/small/bg-16.jpg) no-repeat repeat center 0;
}

body.background17 {
    background:url(../images/global/bg/small/bg-17.jpg) no-repeat repeat center 0;
}

body.background18 {
    background:url(../images/global/bg/small/bg-18.jpg) no-repeat repeat center 0;
}

body.background19 {
    background:url(../images/global/bg/small/bg-19.jpg) no-repeat repeat center 0;
}

body.background20 {
    background:url(../images/global/bg/small/bg-20.jpg) no-repeat repeat center 0;
}

body.background21 {
    background:url(../images/global/bg/small/bg-21.jpg) no-repeat repeat center 0;
}

body.background22 {
    background:url(../images/global/bg/small/bg-22.jpg) no-repeat repeat center -90px;
}

body.background23 {
    background:url(../images/global/bg/small/bg-23.jpg) no-repeat repeat center -90px;
}

body.background24 {
    background:url(../images/global/bg/small/bg-24.jpg) no-repeat repeat center 0;
}

body.background25 {
    background:url(../images/global/bg/small/bg-25.jpg) no-repeat repeat center 0;
}

body.background26 {
    background:url(../images/global/bg/small/bg-26.jpg) no-repeat repeat center 0;
}

body.background27 {
    background:url(../images/global/bg/small/bg-27.jpg) no-repeat repeat center 0;
}

body li {
    margin-bottom: 0;
}

/*
 * Text colors
 */
.blue {
    color: #69a3d5;
}
.gold {
    color: #ffc24a;
}
.bold {
    font-weight: 800;
}
.nobullet {
    list-style-type: none;
    padding-left: 0;
}
.error{
    color: red;
}
.list li{
    margin-bottom: 10px;
}

/*
 * Buttons
 */
.btn-orange{
    background-color: #e98e1e;
    color: #FFF;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:visited {
    background-color: #f67402;
    color: #FFF;
}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.main-container {
    margin: 0 auto;
    padding: 0;
}
.container-fluid {
    position: relative;
    padding: 0;
}

/*
 * Navbar
 */

.navbar {
    width: 100%;
    position: absolute;
    margin: 0;
    background: rgb(255, 255, 255) transparent;
    /* nice browsers */
    background: rgba(255, 255, 255, 0.8);
    /* IE 6/7 */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
    /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)";
}
.navbar-collapse,
.container-fluid > .navbar-collapse {
    position: relative;
    margin: 0;
}
.navbar-icon {
    right: 10px;
}
.navbar-icon,
.navbar-sidebar-icon {
    position: absolute;
    top: 22px;
    height: 38px;
    width: 38px;
    z-index: 4;
}
.navbar-nav {
    margin: 0 0 0;
    position: absolute;
    top: 58px;
    right: 10px;
    background: #FFF;
    padding: 0 10px;
    z-index: 4;
    border: 1px solid #eee;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* future proofing */
    -khtml-border-radius: 5px; /* for old Konqueror browsers */
    display: none;
}
.navbar-nav > li {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 16px;
    padding-top: 16px;
}
.navbar-nav > li:last-child{
    border-bottom: none;
}
.navbar-nav > li > a {
    padding: 0;
    font-size: 14px;
    color: #333638;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
}
.navbar-nav > li > a:hover {
    text-decoration: underline;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #333638;
}
.navbar-nav > li.active > a:hover {
    text-decoration: none;
}
.navbar-default .navbar-nav > li > a {
    color: #333638;
}
.nav-contact {
    margin-top: 105px;
    text-align: center;
}
.nav-contact h4 {
    margin-bottom: 4px;
}
.nav-contact h5 {
    font-weight: bold;
    margin-top: 4px;
}
.nav-contact h5 a{
    color: #505050;
}

/*
 * Sidebar
 */

.sidebar {
    padding: 0;
    z-index: 3;
}
.sidebar .sidebar-container {
    background-color: #333638;
    color: #FFF;
    padding: 20px 10px;
}

/* Sidebar navigation */
.navbar-header {
    position: absolute;
}
.dropdown-menu {
    background: transparent;
}
.dropdown .glyphicon-chevron-right {
    position: absolute;
    right: 10px;
    top: 30%;
}
.main-container .main-sidebar {
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
    margin-top: 268px;
}
.nav-sidebar > li,
.dropdown-menu li {
    color: #fff;
    font-weight: bold;
}
.nav-sidebar > li{
     margin-bottom: 2px;
}
.nav-sidebar > li > a {
    background-color: #333638;
    color: #FFF;
    padding: 10px 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .open > a,
.nav-sidebar > .open > a:hover,
.nav-sidebar > .open > a:focus,
.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus{
    background-color: #494c4d;
    color: #FFF;
}
.dropdown-menu li > a {
    font-size: 13px;
    color: #000;
    padding: 10px 5px;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus {
    text-decoration: underline;
}
.nav-sidebar .dropdown-menu {
    margin-top: -38px;
    margin-left: 222px;
    padding: 0;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.navbar-sidebar-icon {
    left: 10px;
}
.sub-sidebar{
    margin-bottom: -90px;
}

/*
 * Logo content
 */

.logo-container {
    background-color: #FFF;
    padding: 10px 0px 10px 10px;
    text-align: center;
}

.logo-container img{
    min-width: 122px;
    width: 40%;
    max-width: 200px;
}

/*
 * Process content
 */

.process-sub-container {
    padding: 0;
}
.process-container .process-sub-container h2 {
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
}
.process-sub-container h3 {
    margin-bottom: 5px;
    margin-top: 0;
}
.process-sub-container h4 {
    margin-top: 0;
}

/*
 * Review
 */
.ratings-reviews p {
    margin-bottom: 0px;
}
.review {
    padding: 20px 30px;
    border-bottom: 1px dotted #000;
    position: relative;
}
.review:last-child {
    border-bottom: 0;
}
.review .quote_start {
    background-repeat: no-repeat;
    background-image: url("../images/home/quote_start.png");
    height: 20px;
    width: 20px;
    position: absolute;
    top: 16px;
    left: 0;
}
.review .quote_end {
    background-repeat: no-repeat;
    background-image: url("../images/home/quote_end.png");
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 26px;
    right: 0;
}


/*
 * Main content
 */

.main {
    padding: 20px;
    background: #FFF;
}
.main.no-bg {
    background: none;
    padding: 0;
}
.main.top {
    margin-top: 10px;
    min-height: 100px;
}
.main.bottom,
.main .bottom {
    margin-top: 100px;
}
.main .bottom {
    background: #FFF;
    padding: 10px;
}
.regular-main {
    margin: 195px auto 0;
    padding: 15px;
    background: #FFF;
}
.main h1 {
    font-weight: bold;
    border-bottom: 1px solid #000;
    font-size: 26px;
    line-height: 40px;
    margin-top: 0;
}
.main h2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    margin-top: 0;
}
.main .page-header {
     margin-top: 0;
}
.main .person {
    background-repeat: no-repeat;
    background-image: url("../images/global/person/person1.png");
    height: 483px;
    width: 320px;
    display: block;
}
.header-content h1{
    border: none;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    margin: 50px 0 10px 0;
    width: auto;
    font-size: 36px;
}
.main .header-content h2{
    font-size: 24px;
    font-weight: 700;
}
.header-content h1,
.main .header-content h2{
    margin-top: 80px;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-shadow: -3px -1px 6px #000;
}
.header-content{
    text-align: center;
}
.main .header-content h2{
    margin: 0 0 40px;
    font-size: 28px;
    font-weight: 400;
}
.main .header-content .btn{
    font-size: 14px;
    font-weight: bold;
    width: 250px;
    text-transform: uppercase;
    padding: 10px 20px;
}

/*
 * sb
 */

.sb-container{
    margin-bottom: 15px;
}
.sb-center{
    text-align: center;
}
.sb-container ul{
    margin: 0;
    padding: 0;
}
.sb-container ul ul{
    padding-left: 20px;
}
.sb-container ul li{
    list-style-type: none;
}
.sb-container ul li li{
    list-style-type: circle;
}
.sb-container h3{
    padding-bottom: 2px;
    border-bottom: 1px solid #000;
}
.sb-container img{
    max-width: 100%;
}
.certifed-container {
    text-align: center;
    border-bottom: 1px dotted #ffc24a;
}
.service-container {
    text-align: center;
}
.service-container h4 {
    margin-bottom: 4px;
}
.service-container h5 {
    font-weight: bold;
    margin-top: 4px;
}
.share-container h4 {
    font-weight: bold;
    color: #ffc24a;
    padding-bottom: 4px;
    border-bottom: 1px dotted #ffc24a;
}

/*
 * Full Main content
 */

.full-main {
    margin-top: 195px;
    padding: 20px;
    background: #FFF;
}
.full-main h1 {
    font-weight: bold;
    border-bottom: 1px solid #000;
    font-size: 26px;
    line-height: 40px;
    margin-top: 0;
}
.full-main h2 {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    margin-top: 0;
}
.full-main .page-header {
     margin-top: 0;
}

/*
 * Match Options
 */

.match-options-container {
    background-repeat: no-repeat;
    background-image: url("../images/home/match_options_bg.jpg");
    height: 36px;
    width: 704px;
    display: inline-block;
}
.home .match-options-container {
    margin-top: 30px;
}
.home .header-content{
    position: absolute;
    width: 100%;
    top: 50px;
}
.home h1{
    font-weight: bold;
    line-height: 40px;
}
.match-options-container .second{
    margin-left: -25px;
}
.match-options-container .third{
    margin-left: -7px;
}
.match-option-container {
    padding-left: 20px;
}
.match-option-container span {
    line-height: 36px;
    font-size: 14px;
    vertical-align: top;
    padding-left: 0;
}
.match-option-container span.number {
    color: #f5ad20;
    font-size: 20px;
}

/*
 * Comment section
 */
.comment-section {
    text-align: center;
}

/*
 * Graph
 */
.horizontal-bar {
    height: 16px;
    background: #F6B32E;
}

/*
 * Rating
 */
.rating-static {
    width: 60px;
    height: 16px;
    display: block;
    background: url('/images/global/stars/star-rating.png') 0 0 no-repeat;
}
.rating-50 {
    background-position: 0 0;
}
.rating-40 {
    background-position: -12px 0;
}
.rating-30 {
    background-position: -24px 0;
}
.rating-20 {
    background-position: -36px 0;
}
.rating-10 {
    background-position: -48px 0;
}
.rating-0 {
    background-position: -60px 0;
}
.rating-5  {
    background-position: -48px -16px;
}
.rating-15 {
    background-position: -36px -16px;
}
.rating-25 {
    background-position: -24px -16px;
}
.rating-35 {
    background-position: -12px -16px;
}
.rating-45 {
    background-position: 0 -16px;
}
.rating-score {
    color: #279FD3;
    font-size: 1em;
    font-weight:bold;
}

/*
 * Social Sharing
 */

.social-sharing {
    margin: 10px 0;
    box-sizing: content-box;
}
.social-sharing * {
    box-sizing: content-box;
}

/*
 * Contractor
 */

.contractor .options-container {
    margin-top: 15px;
}
.contractor .reviews p {
    margin-bottom: 0;
}
.contractor .review {
    padding: 20px 20px;
}
.contractor .sub {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0d5c8;
}
.entry-image img {
    width: 100%;
}
.contractor-details .contractor-detail img{
    width: 100%;
    max-width: 172px;
}

/*
 * Contractors
 */

.contractors select{
    padding-left: 3px;
    padding-right: 3px;
}
.contractors .find-contractors select{
    margin-right: 5px;
}
.contractors .find-contractors .place_select{
    width: 28%;
}
.contractors .find-contractors .category_select{
    width: 34%;
}
.contractors .find-contractors .section_select{
    width: 35%;
}
.contractors .entry-image img{
    max-width: 100%;
}
.contractors .option{
    padding: 15px 0;
}
.contractors .reviews p {
    margin-bottom: 0;
}
.contractors .get-quote{
    margin-top: 10px;
}
.contractors .contractors-list li{
    border-bottom: 1px solid #E0D5C8;
}
.contractors .contractors-list li.last-child{
    border-bottom: 0px;
}
.contractors .more-details{
    margin-top: 10px;
}
.contractors .paginate{
    font-size: 0.8em;
}
.contractors .not-found{
    color: #333333;
    font-size: 0.916em;
}
.contractors a.morelink {
    margin: 5px 0 0 0;
    font-weight:normal;
}

/*
 * Promotion
 */

body.promotion.background2{
    background: url(../images/global/bg/bg-2.jpg) no-repeat no-repeat center top;
}
body.promotion.video{
    background: none;
}
body.promotion.video .vjs-control-bar{
    display: none;
}
.promotion .main{
    margin-top: 120px;
    min-height: 470px;
    text-align: center;
    background: transparent;
}
.promotion .curl h3{
    color: #fe0000;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 4px;
    margin-bottom: 0;
}
.promotion .curl{
    text-align: center;
    background-color: #fff;
    width: 280px;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.promotion .curl .curl-content{
    background: url('/images/promotion/holder.png') 50% 70px no-repeat;
    padding-bottom: 128px;
    margin: 0 10px;
}
.promotion .curl p{
    color: #404040;
    font-size: 14px;
    font-weight: bold;
}
.promotion .contractor-details{
    position: relative;
    background-color: #FFF;
    text-align: left;
}
.promotion .contractor-details h4{
    text-transform: uppercase;
    text-align: left;
    font-size: 28px;
    margin-bottom: 20px;
}
.promotion .contractor-details h5{
    font-size: 16px;
    font-weight: 400;
}
.promotion .contractor-details h5,
.promotion .contractor-details h6{
    text-transform: uppercase;
}
.promotion .contractor-details h6{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.promotion .contractor-details .main{
    margin-top: 0;
}
.promotion .contractor-details .btn{
    font-size: 12px;
}
.promotion .contractor-details .contractor-detail{
    margin-bottom: 10px;
    text-align: left;
}
.promotion .contractor-details .contractor-detail img.border{
    border: 8px solid #69a3d5;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px; /* future proofing */
    -khtml-border-radius: 100px; /* for old Konqueror browsers */
}
.promotion .contractor-detail-footer{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #69a3d5;
    text-align: left;
}
.promotion .contractor-callout-content{
    margin-top: 10px;
    text-align: left;
    font-size: 16px;
}
.promotion .contractor-callout-content ul{
    margin-top: 20px;
}
.promotion .contractor-callout-content .holder{
    position: relative;
    width: 100%;
    max-width: 393px;
}
.promotion .contractor-callout-content .holder img{
    width: 100%;
}
.promotion .contractor-callout-content .holder .leaf{
    position: absolute;
    top: -28px;
    left: -118px;
}
.promotion .reviews{
    margin-bottom: 5px;
}
.promotion .reviews p{
    margin: 0;
}
.promotion .certified-reviews-container{
    text-align: left;
}
.promotion .main .btn{
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 24px;
}

/*
 * Place Request
 */

.place-request .art-person {
    background-repeat: no-repeat;
    background-image: url("../images/global/person/person1.png");
    height: 504px;
    width: 320px;
}
.place-request p.subscribe {
    font-size: 0.85em;
}
.place-request p.subscribe label {
    font-weight: normal;
}
.place-request .email-header {
    height: 80px;
}
.place-request .email-body p {
    font-size: 0.9em;
}
.place-request .form-control {
    font-weight: normal;
    margin: 8px 0;
    font-size: 0.9em;
    width: auto;
    display: inline;
}
.place-request .formStatus {
    padding: 10px 0;
}
.place-request textarea.form-control {
    width: 100%;
}

/*
 * Place
 */

.place .options-container{
    margin-bottom: 20px;
}
.place .secondary-options-container{
    text-align: right;
    margin-top: 6px;
}

/*
 * Place
 */

.need .entry-body .options-container{
    margin-top: 15px;
}
.need .secondary-options-container{
    text-align: right;
    margin-top: 6px;
}
.need .sub{
    border-bottom: 1px solid #e0d5c8;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.need .form-container h3{
    margin-bottom: 30px;
}
.need .form-container .btn-success{
    margin-top: 30px;
}
.need .form-container .form-control{
    width: auto;
}

/*
 * Footer
 */

footer .container {
    margin: 0 auto;
    color: #FFF;
}
.footer-container{
    margin: 0;
}
.footer-top-container {
    background-color: #333638;
    font-size: 13px;
    padding-bottom: 10px;
}
.footer-top-container h3 {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 6px;
    border-bottom: 1px dotted #FFF;
}
.footer-top-container h3 a {
    font-size: 15px;
}
.footer-top-container h3 a:hover {
    color: #69a3d5;
    text-decoration: none;
}
.footer-top-container ul{
    padding-left: 5px;
}
.footer-top-container li {
    margin-bottom: 10px;
}
.footer-top-container li i{
    padding-right: 5px;
}
.footer-top-container li a {
    color: #FFF;
}
.footer-bottom-container {
    font-size: 13px;
    padding: 10px 1px 0;
    background-color: #000;
}

@media (min-width: 768px) {
    body {
        min-width: 1010px;
    }

    body {
        background:url(../images/global/bg/medium/bg-0.jpg) no-repeat no-repeat center -150px;
    }

    body.place-request {
        background: url(../images/global/bg/medium/bg-2.jpg) no-repeat no-repeat center top;
    }

    body.background0 {
        background:url(../images/global/bg/medium/bg-0.jpg) no-repeat repeat center 0;
    }

    body.background1 {
        background:url(../images/global/bg/medium/bg-1.jpg) no-repeat repeat center 0;
    }

    body.background2 {
        background:url(../images/global/bg/medium/bg-2.jpg) no-repeat repeat center 0;
    }

    body.background3 {
        background:url(../images/global/bg/medium/bg-3.jpg) no-repeat repeat center 0;
    }

    body.background4 {
        background:url(../images/global/bg/medium/bg-4.jpg) no-repeat repeat center 0;
    }

    body.background5 {
        background:url(../images/global/bg/medium/bg-5.jpg) no-repeat repeat center 0;
    }

    body.background6 {
        background:url(../images/global/bg/medium/bg-6.jpg) no-repeat repeat center 0;
    }

    body.background7 {
        background:url(../images/global/bg/medium/bg-7.jpg) no-repeat repeat center 0;
    }

    body.background8 {
        background:url(../images/global/bg/medium/bg-8.jpg) no-repeat repeat center 0;
    }

    body.background9 {
        background:url(../images/global/bg/medium/bg-9.jpg) no-repeat repeat center 0;
    }

    body.background10 {
        background:url(../images/global/bg/medium/bg-10.jpg) no-repeat repeat center 0;
    }

    body.background11 {
        background:url(../images/global/bg/medium/bg-11.jpg) no-repeat repeat center 0;
    }

    body.background12 {
        background:url(../images/global/bg/medium/bg-12.jpg) no-repeat repeat center 0;
    }

    body.background13 {
        background:url(../images/global/bg/medium/bg-13.jpg) no-repeat repeat center 0;
    }

    body.background14 {
        background:url(../images/global/bg/medium/bg-14.jpg) no-repeat repeat center 0;
    }

    body.background15 {
        background:url(../images/global/bg/medium/bg-15.jpg) no-repeat repeat center 0;
    }

    body.background16 {
        background:url(../images/global/bg/medium/bg-16.jpg) no-repeat repeat center 0;
    }

    body.background17 {
        background:url(../images/global/bg/medium/bg-17.jpg) no-repeat repeat center 0;
    }

    body.background18 {
        background:url(../images/global/bg/medium/bg-18.jpg) no-repeat repeat center 0;
    }

    body.background19 {
        background:url(../images/global/bg/medium/bg-19.jpg) no-repeat repeat center 0;
    }

    body.background20 {
        background:url(../images/global/bg/medium/bg-20.jpg) no-repeat repeat center 0;
    }

    body.background21 {
        background:url(../images/global/bg/medium/bg-21.jpg) no-repeat repeat center 0;
    }

    body.background22 {
        background:url(../images/global/bg/medium/bg-22.jpg) no-repeat repeat center -100px;
    }

    body.background23 {
        background:url(../images/global/bg/medium/bg-23.jpg) no-repeat repeat center -100px;
    }

    body.background24 {
        background:url(../images/global/bg/medium/bg-24.jpg) no-repeat repeat center 0;
    }

    body.background25 {
        background:url(../images/global/bg/medium/bg-25.jpg) no-repeat repeat center 0;
    }

    body.background26 {
        background:url(../images/global/bg/medium/bg-26.jpg) no-repeat repeat center 0;
    }

    body.background27 {
        background:url(../images/global/bg/medium/bg-27.jpg) no-repeat repeat center 0;
    }

    .logo-container {
        padding: 20px 0px;
        text-decoration: none;
    }

    .logo-container img{
        width: 80%;
    }

    .main.top {
        margin-top: 140px;
        min-height: 500px;
    }

    .main.bottom{
        margin-top: 638px;
    }

    .main .bottom {
        margin-top: 200px;
    }

    .regular-main,
    .full-main {
        margin: 140px auto 0;
    }

    .main-container {
        min-width: 997px;
        padding: 0 15px;
    }

    .sidebar {
        max-width: 252px;
    }

    .main-container .main-sidebar{
        margin: 0;
    }

    .sub-sidebar {
        position: absolute;
        left: 270px;
        top: 136px;
        z-index: 1;
        display: none;
    }

    .header-content h1,
    .main .header-content h2{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    /*
     * navbar
     */
    .navbar {
        min-width: 997px;
        top: 45px;
        padding: 0 0 20px 0;
    }

    .navbar-icon,
    .navbar-sidebar-icon {
        display: none;
    }

    .navbar-nav {
        position: relative;
        background: none;
        padding: 0;
        top: 0;
        right: 0;
        border: none;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0; /* future proofing */
        -khtml-border-radius: 0; /* for old Konqueror browsers */
        display: table !important;
    }

    .navbar-nav > li {
        width: 181px;
        padding: 20px 0 0 0;
        border: none;
        margin-bottom: 16px;
        margin-top: -1px;
    }

    .navbar-nav > li.active {
        background-repeat: no-repeat;
        background-image: url("../images/global/nav/link_hover.png");
    }

    .nav-sidebar{
        margin: 0;
    }

    .dropdown-menu li {
        margin-bottom: 2px;
    }

    .dropdown-menu li > a {
        color: #FFF;
        padding: 10px 20px;
    }

    .dropdown-menu li > a,
    .dropdown-menu li > a:hover,
    .dropdown-menu li > a:focus {
        background-color: #494c4d;
        color: #FFF;
    }

    .nav-logo-container {
        background-color: #69a3d5;
        padding-top: 20px;
    }

    .nav-contact {
        margin-top: 0;
        text-align: left;
        position: absolute;
        right: 0;
        top: 10px;
        left: 284px;
    }

    /*
     * Contractors
     */

    .contractors .header-content {
        margin-top: 300px;
    }

    /*
     * Promotion
     */

    .promotion .curl{
        position: absolute;
        right: 0;
        top: 122px;
        background: url('/images/promotion/curl.png') 0 0 no-repeat;
        width: 414px;
        height: 388px;
    }
    .promotion .curl .curl-content{
        background: none;
        position: absolute;
        left: 108px;
        width: 310px;
        padding: 0;
        margin: 0;
    }
    .promotion .curl h3{
        font-size: 25px;
    }
    .promotion .main-container .main{
        max-width: 58%;
    }
    .promotion .main{
        margin-top: 200px;
    }
    .promotion .curl p{
        font-size: 12px;
        font-weight: normal;
    }
    .promotion .main h1{
        width: 360px;
    }
    .promotion .main .header-content{
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .main {
        width: 75%;
    }

    body {
        background:url(../images/global/bg/large/bg-0.jpg) no-repeat no-repeat center -150px;
    }

    body.place-request {
        background: url(../images/global/bg/large/bg-2.jpg) no-repeat no-repeat center top;
    }

    body.background0 {
        background:url(../images/global/bg/large/bg-0.jpg) no-repeat repeat center 0;
    }

    body.background1 {
        background:url(../images/global/bg/large/bg-1.jpg) no-repeat repeat center 0;
    }

    body.background2 {
        background:url(../images/global/bg/large/bg-2.jpg) no-repeat repeat center 0;
    }

    body.background3 {
        background:url(../images/global/bg/large/bg-3.jpg) no-repeat repeat center 0;
    }

    body.background4 {
        background:url(../images/global/bg/large/bg-4.jpg) no-repeat repeat center 0;
    }

    body.background5 {
        background:url(../images/global/bg/large/bg-5.jpg) no-repeat repeat center 0;
    }

    body.background6 {
        background:url(../images/global/bg/large/bg-6.jpg) no-repeat repeat center 0;
    }

    body.background7 {
        background:url(../images/global/bg/large/bg-7.jpg) no-repeat repeat center 0;
    }

    body.background8 {
        background:url(../images/global/bg/large/bg-8.jpg) no-repeat repeat center 0;
    }

    body.background9 {
        background:url(../images/global/bg/large/bg-9.jpg) no-repeat repeat center 0;
    }

    body.background10 {
        background:url(../images/global/bg/large/bg-10.jpg) no-repeat repeat center 0;
    }

    body.background11 {
        background:url(../images/global/bg/large/bg-11.jpg) no-repeat repeat center 0;
    }

    body.background12 {
        background:url(../images/global/bg/large/bg-12.jpg) no-repeat repeat center 0;
    }

    body.background13 {
        background:url(../images/global/bg/large/bg-13.jpg) no-repeat repeat center 0;
    }

    body.background14 {
        background:url(../images/global/bg/large/bg-14.jpg) no-repeat repeat center 0;
    }

    body.background15 {
        background:url(../images/global/bg/large/bg-15.jpg) no-repeat repeat center 0;
    }

    body.background16 {
        background:url(../images/global/bg/large/bg-16.jpg) no-repeat repeat center 0;
    }

    body.background17 {
        background:url(../images/global/bg/large/bg-17.jpg) no-repeat repeat center 0;
    }

    body.background18 {
        background:url(../images/global/bg/large/bg-18.jpg) no-repeat repeat center 0;
    }

    body.background19 {
        background:url(../images/global/bg/large/bg-19.jpg) no-repeat repeat center 0;
    }

    body.background20 {
        background:url(../images/global/bg/large/bg-20.jpg) no-repeat repeat center 0;
    }

    body.background21 {
        background:url(../images/global/bg/large/bg-21.jpg) no-repeat repeat center 0;
    }

    body.background22 {
        background:url(../images/global/bg/large/bg-22.jpg) no-repeat repeat center -300px;
    }

    body.background23 {
        background:url(../images/global/bg/large/bg-23.jpg) no-repeat repeat center -300px;
    }

    body.background24 {
        background:url(../images/global/bg/large/bg-24.jpg) no-repeat repeat center 0;
    }

    body.background25 {
        background:url(../images/global/bg/large/bg-25.jpg) no-repeat repeat center 0;
    }

    body.background26 {
        background:url(../images/global/bg/large/bg-26.jpg) no-repeat repeat center 0;
    }

    body.background27 {
        background:url(../images/global/bg/large/bg-27.jpg) no-repeat repeat center 0;
    }
}