*{margin:0;padding:0;}
body{color: #080A0D;font-family:Verdana, Verdana, Geneva, sans-serif;font-style: normal;font-weight: normal;font-size: 14px;position:relative;}
img{border:none;}
ul{list-style-type: none;list-style-position: inside;}
ol{list-style-position: inside;color:#845118;}
a{text-decoration: none;color: #22485D;}
a:link{text-decoration: none;color: #22485D;}
a:visited,a.visited{color: #22485D;}
a:hover, a.hover{color: #279FD3;}
textarea {resize: none;}
fieldset{border:none;}
input,select,textarea{color:grey;font-size:11px;padding:2px;font-family:Arial,Helvetica,sans-serif;}
/* start of button */
.button{
    font:15px Calibri, Arial, sans-serif;
    text-shadow:1px 1px 0 rgba(255,255,255,0.4);
    text-decoration:none !important;
    white-space:nowrap;
    display:inline-block;
    vertical-align:baseline;
    position:relative;
    cursor:pointer;
    padding:10px 20px;
    background-repeat:no-repeat;
    background-position:bottom left;
    background-image:url(../images/global/buttons/button_bg.png);
    background-position:bottom left, top right, 0 0, 0 0;
    background-clip:border-box;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    -moz-box-shadow:0 0 1px #fff inset;
    -webkit-box-shadow:0 0 1px #fff inset;
    box-shadow:0 0 1px #fff inset;
    -webkit-transition:background-position 1s;
    -moz-transition:background-position 1s;
    transition:background-position 1s;
}
.button:hover{background-position:top left;background-position:top left, bottom right, 0 0, 0 0;}
.button:active{bottom:-1px;}
.button.big     { font-size:30px;}
.button.medium  { font-size:18px;}
.button.small   { font-size:13px;}
.button.rounded{
    -moz-border-radius:4em;
    -webkit-border-radius:4em;
    border-radius:4em;
}
/* Defining four button colors */
/* BlueButton */
.blue.button{
    color:#0f4b6d !important;
    border:1px solid #84acc3 !important;
    background-color: #48b5f2;
    background-image:   url(../images/global/buttons/button_bg.png), url(../images/global/buttons/button_bg.png),
                        -moz-radial-gradient(   center bottom, circle,
                                                rgba(89,208,244,1) 0,rgba(89,208,244,0) 100px),
                        -moz-linear-gradient(#4fbbf7, #3faeeb);

    background-image:   url(../images/global/buttons/button_bg.png), url(../images/global/buttons/button_bg.png),
                        -webkit-gradient(   radial, 50% 100%, 0, 50% 100%, 100,
                                            from(rgba(89,208,244,1)), to(rgba(89,208,244,0))),
                        -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4fbbf7), to(#3faeeb));
}

.blue.button:hover{
    background-color:#63c7fe;
    background-image:   url(../images/global/buttons/button_bg.png), url(../images/global/buttons/button_bg.png),
                        -moz-radial-gradient(   center bottom, circle,
                                                rgba(109,217,250,1) 0,rgba(109,217,250,0) 100px),
                        -moz-linear-gradient(#63c7fe, #58bef7);
                        
    background-image:   url(../images/global/buttons/button_bg.png), url(../images/global/buttons/button_bg.png),
                        -webkit-gradient(   radial, 50% 100%, 0, 50% 100%, 100,
                                            from(rgba(109,217,250,1)), to(rgba(109,217,250,0))),
                        -webkit-gradient(linear, 0% 0%, 0% 100%, from(#63c7fe), to(#58bef7));
}
/* Green Button */
.green.button{
    color:#345903 !important;
    border:1px solid #96a37b !important;    
    background-color: #79be1e;
    background-image:url(../images/global/buttons/button_bg.png), url(../images/global/buttons/button_bg.png), -moz-radial-gradient(center bottom, circle, rgba(162,211,30,1) 0,rgba(162,211,30,0) 100px),-moz-linear-gradient(#82cc27, #74b317);
    background-image:url(../images/global/buttons/button_bg.png), url(../images/global/buttons/button_bg.png), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(162,211,30,1)), to(rgba(162,211,30,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#82cc27), to(#74b317));
}
.green.button:hover{
    background-color:#89d228;   
    background-image:url(../images/global/buttons/button_bg.png), url(../images/global/buttons/button_bg.png), -moz-radial-gradient(center bottom, circle, rgba(183,229,45,1) 0,rgba(183,229,45,0) 100px),-moz-linear-gradient(#90de31, #7fc01e);
    background-image:url(../images/global/buttons/button_bg.png), url(../images/global/buttons/button_bg.png), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(183,229,45,1)), to(rgba(183,229,45,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#90de31), to(#7fc01e));
}
/* Orange Button */
.orange.button{
    color:#693e0a !important;
    border:1px solid #bea280 !important;    
    background-color: #e38d27;
    background-image:url(../images/global/buttons/button_bg.png), url(../images/global/buttons/button_bg.png), -moz-radial-gradient(center bottom, circle, rgba(232,189,45,1) 0,rgba(232,189,45,0) 100px),-moz-linear-gradient(#f1982f, #d4821f);
    background-image:url(../images/global/buttons/button_bg.png), url(../images/global/buttons/button_bg.png), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(232,189,45,1)), to(rgba(232,189,45,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1982f), to(#d4821f));
}
.orange.button:hover{
    background-color:#ec9732;
    background-image:url(../images/global/buttons/button_bg.png), url(../images/global/buttons/button_bg.png), -moz-radial-gradient(center bottom, circle, rgba(241,192,52,1) 0,rgba(241,192,52,0) 100px),-moz-linear-gradient(#f9a746, #e18f2b);
    background-image:url(../images/global/buttons/button_bg.png), url(../images/global/buttons/button_bg.png), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(241,192,52,1)), to(rgba(241,192,52,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9a746), to(#e18f2b));
}
.gray.button{
    color:#525252 !important;
    border:1px solid #a5a5a5 !important;    
    background-color: #a9adb1;
    background-image:url(../images/global/buttons/button_bg.png), url(../images/global/buttons/button_bg.png), -moz-radial-gradient(center bottom, circle, rgba(197,199,202,1) 0,rgba(197,199,202,0) 100px),-moz-linear-gradient(#c5c7ca, #92989c);
    background-image:url(../images/global/buttons/button_bg.png), url(../images/global/buttons/button_bg.png), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(197,199,202,1)), to(rgba(197,199,202,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#c5c7ca), to(#92989c));
}
.gray.button:hover{
    background-color:#b6bbc0;
    background-image:url(../images/global/buttons/button_bg.png), url(../images/global/buttons/button_bg.png), -moz-radial-gradient(center bottom, circle, rgba(202,205,208,1) 0,rgba(202,205,208,0) 100px),-moz-linear-gradient(#d1d3d6, #9fa5a9);
    background-image:url(../images/global/buttons/button_bg.png), url(../images/global/buttons/button_bg.png), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(202,205,208,1)), to(rgba(202,205,208,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#d1d3d6), to(#9fa5a9));
}
/* end of button */
/* start of carousel */
#ui-carousel-next, #ui-carousel-prev {
    width: 60px;
    height: 240px;
    background: url(../images/global/arrows/arrow-left.png) #E9E9E9 center center no-repeat;
    display: block;
    position: absolute;
    top: 0;
    z-index: 100;
}
#ui-carousel-next {
    right: 0;
    background-image: url(../images/global/arrows/arrow-right.png);
}
#ui-carousel-prev {
    left: 0;
}
#ui-carousel-next > span, #ui-carousel-prev > span {
    display: none;
}
/* end of carousel */
/* CLEAR FIX */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
/* CLEAR FIX */
.orange{color:#F6B32E !important}
.brown{color:#7f5911 !important}
.left{float:left;display:inline;}
.right{float:right;display:inline;}
.clear{clear:both;}
.strong{font-weight:bold;}
.error{color:red;}
.successStatus{text-align:center;}
.roundContainer {background-color: #FBFBFB;border: 1px solid #0F070F;padding: 10px 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 6px #CCCCCC;
}
input.error,select.error,textarea.error{border:1px solid red;}
ul.formStatus { list-style-type: none; }
div.jquery-ajax-loader {background: #333 url(../global/images/jquery.ajaxLoader.gif) no-repeat 50% 50%;opacity: .6;}
#wrapper{margin:0 auto;max-width: 980px;width: 980px;position:relative;}
/* start of more content */
.morecontent span {display: none;}
/* end of more content */
/* start of paginate */
.paginate button {
    padding:2px !important;
    margin:2px !important;
    border:1px solid #999;
    color: #666;
    background:#fff;
}
.paginate button:hover{
    background-color: #74ABD8;border: 1px solid #906F30;color:#FFF !important;
}
.paginate button.current {
    background-color: #74ABD8;border: 1px solid #906F30;color:#FFF !important;
}
.paginate button.disabled {
    padding:2px 5px 2px 5px;
    margin:2px;
    border:1px solid #eee;
    color:#DDD;
}
/* end of paginate */
/* start of utility box */
.utility-container{background-color: #F8F7F1;border: 1px solid #E0D5C8;padding: 15px 10px;}
.utility-container ul li{display:inline;}
.utility-container ul li a,.main .utility-box ul li a{font-weight:bold;font-size:14px;}
/* end of utility box */
/* start of utility box */
.jump-list-container ul li{margin-right:20px;}
.jump-list-container ul li a,.main .jump-list-container ul li a{font-weight:bold;}
.jump-list-container a.selected,.main .jump-list-container a.selected{color: #273F4D;position:relative;}
.jump-list-container a.selected i{position:absolute;background: url("/images/global/misc/arrow.png") no-repeat scroll 0 0 transparent;display: block;height: 8px;width: 17px;bottom:-16px;left:30%;}
/* end of utility box */
/* start of rating */
.rating-static {width: 60px;height: 16px;display: block;background: url('/images/global/stars/star-rating.png') 0 0 no-repeat;}
.rating-50 { background-position: 0 0; }
.rating-40 { background-position: -12px 0; }
.rating-30 { background-position: -24px 0; }
.rating-20 { background-position: -36px 0; }
.rating-10 { background-position: -48px 0; }
.rating-0 { background-position: -60px 0; }
 
.rating-5  { background-position: -48px -16px; }
.rating-15 { background-position: -36px -16px; }
.rating-25 { background-position: -24px -16px; }
.rating-35 { background-position: -12px -16px; }
.rating-45 { background-position: 0 -16px; }
.rating-score{color: #279FD3;font-size: 1em;font-weight:bold;}
/* end of rating */
/* start of user steps */
.userStepsText li{width:200px;}
.userStepsText li h4{padding:3px 0 0 0;font-weight:bold;font-size:0.9em;}
.userStepsText li .orange-background{background-color:#F2AB1D;color:#fff;}
/* end of user steps */
/* start of back button */
.back-button{position:absolute;top:3px;right:3px;}
/* end of back button */
/* start General */
.main-content-container {margin:20px 0;position:relative;min-height: 380px;padding:10px 0 0;background-color: #FBFBFD;border: 1px solid #E0D5C8;}
.main-content-container.round{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}
.main-content-container .header{padding: 30px 30px 20px;}
.main-content-container .content{padding: 15px 40px 20px;}
.main-content-container  h2{font-size:1.4em;font-weight:bold;color: #845118;text-decoration:underline;margin:0 0 25px 0;}
.main-content-container h3 {font-size: 1.2em;font-weight: bold;color: #845118;}
.main-content-container ul li{padding:0 0 10px 0;}
.main-content-container ul li a {color: #7F5911;font-size: 1em;font-weight:bold;}
.main-content-container ul li a:hover{color:#279FD3;}
div.rounded-corners {background-color:#74ABD8;width:25px;text-align:center;color:#fff;font-size:1.3em;margin:0 5px 0 0;padding:1px;
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
/* end General */
.main-content-container ul{margin:0 0 0 10px;}
/* begin Header */
.art-logo{margin:10px 0 0 20px;}
.art-header{height:107px;text-align:right;}
.art-contact{margin:30px 120px 0 0;font-size:1.2em;}
.art-contact h3{font-size:1.3em;font-weight:normal;padding:0 0 5px;}
/* end Header */
/* begin Menu */
ul.art-hmenu li {cursor: pointer;display: inline;float:left;height:41px;line-height: 41px;border-right:1px solid #979191;background-color:white;}
ul.art-hmenu li a{font-size:0.95em;text-align: left;text-decoration: none;color: #000;padding: 13px 22px;font-weight:bold;}
ul.art-hmenu li.active{background-color:#F5AF24;}
ul.art-hmenu li:hover{background-color:#F5AF24;}
/* end Menu */
/* being person */
.art-person{background-repeat: no-repeat;z-index:1;position: absolute;}
/* end person */
/* start of home */
body.home{background: url("../images/home/home-background.jpg") repeat-x scroll 0 0 transparent;}
.home .userStepsText li{width:192px;}
.home .art-person{background-image: url("../images/global/person/person1.png");height: 504px;left: 620px;top: 113px;width: 320px;}
.home .main-content-container{padding:10px 0 15px;position:relative;width: 600px;height:520px;float:left;display:inline;}
.home .main-content-container .header{background-image: url("../images/home/header-image-bg.png");background-repeat: no-repeat;width: 550px;padding:28px 0 27px 42px;margin:0 0 0 20px;}
.home .main-content-container .header h2{font-style:italic;color:#fff;font-weight:bold;font-size:1.2em;}
.home .main-content-container .content{padding:5px 10px;}
.home .main-content-container .content .first{width:245px;}
.home .main-content-container h2{text-decoration:none;margin:0;}
.home .main-content-container #satis-image {background-image: url("../images/home/satisfaction_guaranteed.png");height: 135px;left: 435px;position: absolute;top: 135px; width: 140px;}
.home .main-content-container ul.list{margin:0 0 0 20px;}
.home .main-content-container ul.list li{padding: 0 0 5px;font-size:0.9em;}
.home .main-content-container ul.top{margin:20px 0 0 10px;}
.home .main-content-container ul.top li{color:#7F5911;font-size:1em;font-weight:bold;}
/* start of review Container */
#review-container{color:#7F5911;height:240px;overflow:hidden;margin:7px 0 0;position:relative;}
#review-container .carousel{margin:10px 70px;}
#review-container h5{font: 400 70px/1.2 'Sansita one', Georgia, serif;color: #616161;font-size: 20px;line-height: 44px;text-align: right;}
#review-container .rating-details{font-family: 'Imprima', Verdana, Helvetica, sans-serif;margin:10px 0 0 0;text-align:right;}
#review-container .rating-details i{margin-right:6px;}
#review-container p.project{font-size:20px;padding:0 0 10px 0;color:#444444;}

/* end of review container
/* end of home */
/* start of city selector */
#city_selector li {color: #9C9C9C;font-size: 0.8em;line-height: 1.5em;padding-bottom: 0;}
/* start of city selector */
/* start of footer */
#footer{font-family: 'Lucida Sans Unicode',Arial,Helvetica,sans-serif;width:100%;padding:20px 0 0;color:#7F5911;background-color: #333333;border-top: 1px solid #EDEDED;}
#footer .footer-wrapper {font-size:1em;margin:0 auto;width: 960px;}
.main-content-container #footer .footer-top,
.main-content-container #footer .footer-bottom{padding:0 20px 10px;width:auto;}
#footer .footer-top{padding:0 0 20px;position:relative;}
#footer .column{float:left;diplay:inline;margin-left: 20px;}
#footer .column.city_selector,#footer .footer-bottom .copyrights{margin-left:0;}
#footer .column.city_selector{width:25%;border-right: 1px solid #3B3B3B;padding-right:10px;}
#footer .column.about_us{width:71%;}
#footer .column.links{float:right;}
#footer .footer_about .content{color: #9C9C9C;font-size: 0.85em;line-height: 1.7em;padding-bottom: 0;}
#footer .social-sharing{margin:25px 0 0 0;}
#footer .content{padding:0;}
#footer h3 {color: #FEFEFE;font-size: 1.05em;padding-bottom: 20px;}
#footer h3 a{font-size:0.8em;color:#7F5911;}
#footer ul{margin:0 0 10px 0;}
#footer li {display: block;overflow: hidden; padding: 5px 0;}
#footer li:first-child {padding-top: 0;}
#footer li a{color: #9C9C9C;}
#footer .footer-bottom {background-color: #2A2A2A;border-top: 1px solid #242424;height: 49px;}
#footer .footer-bottom a{padding:0 10px;border-right:1px solid #22485D;color:#7F5911;}
#footer a:hover{color: #279FD3 !important;}
#footer .footer-bottom a.last{border:none;padding-right:0;}
#footer .footer-bottom .copyrights p,#footer .footer-bottom .links p{padding-top:17px;}
#footer .footer-bottom .copyrights,#footer .footer-bottom .links a{font-size:0.8em;color: #9C9C9C;}
.main-content-container #footer .footer-wrapper{width:auto}
/* end of footer */
/* sub */
.sub{font-family: 'Open Sans',sans-serif;font-size:0.86em;background: #F8F7F1;padding:15px 20px;}
.sub h3{margin:0 0 15px 0;padding:0 0 10px;border-bottom:1px solid #E0D5C8;color:#333333;font-weight:normal;font-size:1.3em;}
.sub h4{color:#F6B32E;font-weight:bold;font-size:20px;padding:8px 0 5px;}
.sub h5{color:#333;font-weight:bold;font-size:14px;padding:5px 0 8px;}
.sub li{list-style: disc inside none;padding-left:8px;}
/* end of sub */
/* start of layout-1 */
body.layout-1{ background: url("../images/inner/inner-background.jpg") repeat-x scroll 0 0 transparent;}
body.layout-1 .main-content-container {margin:20px 0 40px !important;}
body.layout-1 .main-content-container{margin:53px 0 40px;}
.layout-1 .content{padding:20px;}
.layout-1 h2{
    font-family: 'Open Sans',sans-serif;
    font-size: 1.71em;
    font-weight: bold;
    line-height: 1.333em;
    color:#383838;
    text-decoration: none;
}
.layout-1 .header {margin:10px 20px;padding:10px;position:relative;}
.layout-1 .sub{border: 1px solid #E0D5C8;}
.layout-1 .sub ul{margin:0;padding:0;}
/* end of layout-1 */
/* start of layout-2 */
body.layout-2{ background: url("../images/inner/inner-background.jpg") repeat-x scroll 0 0 transparent;}
body.layout-2 .main-content-container {margin:20px 0 40px !important;}
body.layout-2 .main-content-container{margin:53px 0 40px;}
.layout-2 .content{padding:20px;}
.layout-2 h2{
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 26px;
    color:#383838;
    text-decoration: none;
    margin:0 0 10px 0;
}
.layout-2 .header {margin:10px 20px;padding:10px;position:relative;}
.layout-2 .main{width:67.5%;}
.layout-2 .sub{border: 1px solid #E0D5C8;padding:0;}
.layout-2 .main .sub{margin:15px 0 0 0;}
.layout-2 .main .sub.top{margin:0 0 0 0;}
.layout-2 .sub ul{margin:0;padding:0;}
.layout-2 .sidebar{
    font-family: 'Open Sans',sans-serif;
    -moz-border-top-left-radius: 0 !important;
    -moz-border-top-right-radius: 0 !important;
    -webkit-border-top-left-radius: 0 !important;
    -webkit-border-top-right-radius: 0 !important;
    -khtml-border-top-left-radius: 0 !important;
    -khtml-border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    -webkit-border-radius:0 !important;
    width:30% !important;
}
.layout-2 .sidebar .sidebar-container{
    border: 1px solid #E0D5C8;
    margin-bottom:15px;
    background: none repeat scroll 0 0 #FFF;
    font-size: 1em;
    line-height: 1em;
    padding: 0;
}
.layout-2 .sidebar .sidebar-container.noBorder{border:none;}
.layout-2 .sidebar .sidebar-container .sidebar-header,
.layout-2 .sidebar .sidebar-container .sidebar-content{margin:0;padding:10px 15px;}
.layout-2 .sidebar .sidebar-container .sidebar-content.image{padding:0px;}
.layout-2 .sidebar .sidebar-container .sidebar-content.image img{display:block;margin-left:auto;margin-right: auto;}
.layout-2 .sidebar .sidebar-container .sidebar-header{background: #F8F7F1;border-bottom: 1px solid #E0D5C8;}
.layout-2 .sidebar .sidebar-container .sidebar-header h3{color:#5C5954;}
.layout-2 .sidebar-content p{font-size:0.9em;line-height:1.3em;color:#333333;}
.layout-2 .sidebar-content ul{margin:0;}
.layout-2 .sidebar-content h4{color:#5C5954;font-size:1em;padding:10px 0;}
.layout-2 .sidebar-content ul li{padding:2px 0;}
.layout-2 .sidebar-content ul li.first-child h4{padding-top:5px;}
.layout-2 .sidebar-content ul li li{list-style: disc inside none;padding-left:6px;}
.layout-2 .sidebar-content ul li a{font-size:0.8em;}
.layout-2 .sidebar .sidebar-container h6{font-size:14px;color:#5C5954;}
/* end of layout-2 */
/* start of sidebar */
#rating-distribution li{padding:5px 0;}
#rating-distribution h6{width:23%;}
#rating-distribution .horizontal-bar-container{width:74%;}
#certified-rating {background:#FBFBFD;margin-bottom:25px;}
#certified-rating h4{text-align:center;font-size:1.2em;}
#certified-rating p{text-align:center;}
/* end of sidebar */
/* start of entry */
.entry-image img{width:200px;}
.entry-title a{font-family: 'Open Sans',sans-serif;font-size: 14px;font-weight: 600;line-height: 20px;}
.entry-body {font-family: 'Open Sans',sans-serif;color: #333333;line-height: 1.272em;font-size:12px;}
.entry-body .entry-image{padding-bottom:5px;}
.entry-body .entry-image img{border:2px solid #E0D5C8;}
.entry-body .first-container{padding:0 10px 0 0;min-width:140px;}
.entry-body .ratings-reviews{padding-bottom:10px;width:17%;}
.entry-body .ratings-reviews a{font-weight:normal;}
.entry-body .contact-details{width:24%;padding:0 10px 0 0;}
.entry-body .description{width:38%;}
.entry-body .telephone{font-weight:bold;font-size:18px;line-height:20px;}
.entry-body .address{padding-top:6px;}
.entry-body .social-sharing{margin:15px 0 5px;}
/* end of entry */
/* start of graph */
.horizontal-bar{height:16px;background:#F6B32E;}
/* end of graph */
/* start of places */
body.places .place-container .container{width:22.5%;padding:0 10px 0;}
/* end of Place */
/* start of Place */
body.place .first{width:50%;}
body.place .main ul.top{font-size:0.9em;font-weight:bold;}
body.place .main .top li{list-style:none;}
body.place .main .top li h3{color: #333333;}
body.place .main ul{font-size:0.9em;}
body.place .main li{list-style: disc inside none;}
/* end of Place */
/* start of Category */
body.category .main ul{margin:10px 0 0 0;font-size:0.9em;display:inline-block;}
body.category .main li{padding:0 0 12px 5px;list-style: disc inside none;}
/* end of Category */
/* start of Need */
.need .contractor {border-bottom:1px solid #E0D5C8;border-top:1px solid #E0D5C8;padding:10px 0;margin-bottom:20px;}
.need .contractor h2{margin-bottom:5px;}
.need #questionForm .rowElem{margin:0 0 30px;font-weight:bold;}
.need #questionForm .rowElem label{color:#845118;font-size:1em;margin:5px 0;}
.need #questionForm .rowElem label.error{color:red;font-size:0.7em;margin: 0 0 0 19px;}
.need #questionForm input[type="text"],.need #questionForm select,.need #questionForm textarea{display:block;color:#000;font-size:0.9em;padding:3px;border:1px solid #grey;margin:5px 19px;}
/* end of Need */
/* start of Contractors */
.contractors .sub li{list-style: none outside none !important;background: #F8F7F1;border-bottom: 1px solid #E0D5C8;padding:15px;position:relative;}
.contractors .sub li.last-child{border-bottom:0px;}
.contractors .sub li.odd{background: #FFFFFF;}
.contractors .sub li h4{padding:0 0 6px 0;}
.contractors .entry-body .ratings-reviews {width:auto;}
.contractors .paginate{font-size:0.8em;}
.contractors .select-options{width:85%;padding:10px 0 0 0;}
.contractors .select-options select{width:32%}
.contractors .not-found{color: #333333;font-size: 0.916em;}
.contractors a.morelink {margin:5px 0 0 0;font-weight:normal;float:left;display:inline;}
/* end of Contractors */
/* start of Contractor */
.contractor .main .sub{background:#FBFBFD;border:none;padding-bottom:10px;}
.contractor .main .sub .sub{padding-top:5px;}
.contractor .main li{padding:0 0 8px 8px;font-size:12px;font-weight:normal;}
.contractor .main li a{font-size:12px;font-weight:normal;}
.contractor .main #basic-details .ratings-reviews{padding-right:20px;}
.contractor .main #basic-details .contact-details{width:44%;}
.contractor #ratings-reviews li{border-bottom: 1px solid #E0D5C8;list-style: none outside none !important;padding:10px 0;}
.contractor .showing-details{font-weight:bold;}
.contractor .rating-image,.contractor .rating-text{padding-right:5px;}
.contractor .rating-date span{color:#666;}
.contractor .details{padding-top:10px;font-weight:bold;line-height:1.5em;}
.contractor .review{padding-top:10px;line-height:1.3em;}
.contractorQuoteSelection{width:500px;}
.contractorQuoteSelection .select-options{width:83%;padding:10px 0 0 0;}
.contractorQuoteSelection select{width:30%;margin:0 10px 0 0;}
/* end of Contractor */
/* start of place request */
body.place-request{ background: url("../images/inner/inner-background.jpg") repeat-x scroll 0 0 transparent;}
.place-request  .main-content-container{min-height:615px;padding:0;}
.place-request .main-content-container .header{
    background-color: #397CAE;padding: 20px 0;text-align: center;border:1px solid white;
    -moz-border-top-left-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-top-left-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -moz-box-shadow: 1px 1px 4px #000000;
    -webkit-box-shadow: 1px 1px 4px #000000;
    box-shadow: 1px 1px 4px #000000;
    -webkit-border-radius:6px;
}
.place-request .main-content-container .header h3{color: #FFFFFF;font-size: 1.3em;font-weight: bold;}
.place-request .main-content-container .content{padding:15px 25px;}
.place-request .art-person{background-image: url("../images/global/person/person1.png");height: 504px;right: 10px;bottom:-22px;width: 320px;}
.place-request #emailLeftContainer{width:598px;line-height:25px;font-size:1em;margin:0 0 15px 0;font-size:0.8em;}
.place-request #emailLeftContainer p.subscribe{font-size:0.85em;}
.place-request #emailLeftContainer #emailHeader{height:80px;}
.place-request #emailLeftContainer #emailBody p{margin:22px 0 0 0;}
.place-request #emailLeftContainer h2{text-decoration:none;}
.place-request #emailLeftContainer h3{font-weight:bold;font-size:1em;color:#000;}
.place-request #emailLeftContainer textarea{width:97%;}
.place-request #emailRightContainer{width:330px;text-align:center;}
.place-request #emailRightContainer h3{font-weight:bold;font-size:1.3em;color#000;}
.place-request #emailRightContainer h4{font-weight:normal;font-size:0.8em;}
.place-request #emailFooterContainer{text-align:center;margin:20px 0;padding:10px;line-height:15px;background-color:white;}
/* end of place request */
/* customer advantage */
.customer-advantage .main-content-container ul{margin:0 0 0 10px;list-style-image: url("../images/global/bullets/blockcontentbullets.png");list-style-position: outside;}
/* end of customer advantage */
/* articles */
body.article .content .main p{padding:0 0 1.2em 0;}
body.article .content .main h2{margin:0 0 15px 0;padding:5px 0 10px;border-bottom:1px solid #E0D5C8;}
body.article .content .main h3{margin:0;padding:0 0 0.7em 0;border:none;font-weight:bold;font-size:1.2em;color:#7F5911 !important;}
body.article span.bold{font-weight:bold;}
body.article span.italics{font-style:italic}
body.article .sub ol li{list-style-position: outside;list-style-type: decimal;padding-left:0px;}
body.article ul{list-style-position: inside;list-style-type: square;}
/* list 3 styles */
body.article ol {color:#333;list-style-position: outside;margin-left:23px;padding:0 0 12px 0;}
body.article li p  {padding: 0 0 1em 1em;font-size:1.1em;}
body.article .comment-box{padding:0 20px;}
/* articles */
/* start of comment - facebook */
.comment-box {margin:20px 0 10px;}
.comment-box h2{margin:0 0 15px 0;padding:5px 0 10px;border-bottom:1px solid #E0D5C8;}
/* end of comment - facebook */