/* Body and structure
-------------------------------------------------- */
body {
  position: relative;
  padding-top: 90px;
  background-color: #fff;
}

a.plain:link {
  color: #333;
  text-decoration: none;
}

a.plain:active {
  color: #333;
  text-decoration: none;
}

a.plain:visited {
  color: #333;
  text-decoration: none
}

a.plain:hover {
  color: #333;
  text-decoration: none;
}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
.navbar-fixed-top .navbar-brand {
  padding-right: 20px;
  padding-left: 0;
  margin-left: 0px;
  float: left;
  font-weight: bold;
  color: #FFF;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
.navbar-fixed-top .navbar-brand:hover {
  text-decoration: none;
  color: grey;
}

.status-bar {
  margin-top: 20px;
}

/* Tweak verticle navbar
-------------------------------------------------- */
.nav-sidebar > li > a,
.dropdown-menu li > a {
    font-size: 13px;
    padding: 3px 20px 3px 0;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus {
    text-decoration: underline;
}
.dropdown-menu {
  padding: 10px;
}
/* Space out sub-sections more
-------------------------------------------------- */
section {
  padding-top: 60px;
}

/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 54px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

.pagination-center {
  text-align: center;
}

/* form-sub
-------------------------------------------------- */
.form-module {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.form-module label {
  font-size: 14px;
  font-weight: 200;
}

/* Sidebar
-------------------------------------------------- */
.sidebar-module {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.sidebar-module h4 {
  margin-bottom: 10px;
}

/* Footer
-------------------------------------------------- */
.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #555;
}