<div class="row status-bar">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Mapping saved successfully
        </div>
    </div>
</div>
<div class="row">
    <form class="form-horizontal col-xs-12 col-sm-12 col-md-12" role="form">
        <fieldset>
            <legend>Contractor Mapping Details</legend>
            <br/>
            <div class="row">
                <%
                var c = this.model,
                    cm = this.contractorModel,
                    i = 0;

                _.each(placeModel, function(m) {
                    i = 0;
                    %>
                    <div class="col-xs-4 col-sm-4 col-md-4 form-module">
                        <label>
                            <input class="place-check" type="checkbox" />
                            SELECT ALL
                        </label>
                        <h4><%= m.get('place_title') %></h4>
                        <% _.each(sectionModel, function(sm) {
                            %>
                            <% if (i === 0 || (sm.get('category_id') !== sm.collection.at(i-1).get('category_id'))) {%>
                                <h5><%= sm.get('category_title') %></h5>
                            <% } %>
                            <label>
                                <input class="mapping-check" data-mapid="<%= contractorModel.getMappingIdForSectionPlaceId(sm.get('section_title'), m.get('place_title')) %>" data-placeid="<%= m.get('place_id') %>" data-secid="<%= sm.get('section_id') %>" <%= contractorModel.isMappedToSectionPlaceId(sm.get('section_title'), m.get('place_title')) ? 'checked=checked' : ''%> type="checkbox"> <%= sm.get('section_title') %>
                            </label>
                        <%
                        i++;
                        });
                        %>
                    </div>
                <% }); %>
            </div>
        </fieldset>
    </form>
</div>