<h3>Contractor Details</h3>
<div class="row">
    <form id="contactor-form" class="form-horizontal col-xs-9 col-sm-9 col-md-9" role="form">
        <fieldset>
            <br/>
            <div class="row">
                <div class="col-xs-9 col-sm-9 col-md-9">
                    <div class="form-group">
                        <label for="contractorId" class="control-label col-xs-3 col-sm-3 col-md-3">Id:</label>
                        <div class="controls col-xs-9 col-sm-9 col-md-9">
                            <input class="form-control" id="contractorId" name="id" type="text" value="<%= contractor_id === null ? '' : contractor_id %>" disabled/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contractor_title" class="control-label col-xs-3 col-sm-3 col-md-3">Title:</label>
                        <div class="controls col-xs-9 col-sm-9 col-md-9">
                            <input class="form-control" type="text" id="contractor_title" name="contractor_title" value="<%= contractor_title %>"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contractor_description" class="control-label col-xs-3 col-sm-3 col-md-3">Description:</label>
                        <div class="controls col-xs-9 col-sm-9 col-md-9">
                            <textarea class="form-control" id="contractor_description" name="contractor_description" rows="6"><%= contractor_description
                                %></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contractor_phone" class="control-label col-xs-3 col-sm-3 col-md-3">Phone:</label>
                        <div class="controls col-xs-9 col-sm-9 col-md-9">
                            <input class="form-control" type="text" id="contractor_phone" name="contractor_phone" value="<%= contractor_phone %>"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contractor_address" class="control-label col-xs-3 col-sm-3 col-md-3">Address:</label>
                        <div class="controls col-xs-9 col-sm-9 col-md-9">
                            <textarea class="form-control" id="contractor_address" name="contractor_address" rows="6"><%= contractor_address
                                %></textarea>
                        </div>
                    </div>
                   <div class="form-group">
                        <label for="contractor_name" class="control-label col-xs-3 col-sm-3 col-md-3">Name:</label>
                        <div class="controls col-xs-9 col-sm-9 col-md-9">
                            <input class="form-control" type="text" id="contractor_name" name="contractor_name" value="<%= contractor_name %>"/>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <a href="#" class="btn btn-primary save">Save</a>
            <a href="#" class="btn btn-danger delete">Delete</a>
        </div>
    </form>
    <% if (contractor_id) { %>
    <div class="col-xs-3 col-sm-3 col-md-3">
        <h4>Contractor Actions</h4>
        <a href="#contractorReviews/add/<%= contractor_id %>" class="btn btn-info">Add Review</a>
    </div>
    <% } %>
</div>
<div class="row status-bar">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Contractor saved successfully
        </div>
    </div>
</div>
<% if (reviews.length > 0) { %>
<hr/>
<h3>Contractor Reviews</h3>
<div class="row">
    <ul class="list-group thumbnails">
        <% _.each(reviews, function(review) { %>
        <li class="list-group-item">
            <a href="#contractorReview/<%= review.contractorRating_id %>" class="plain">
                <b><%= review.project %></b><br/>
                <b>Score</b> : <%= review.score %><br/>
                <b>Date</b> : <%= review.timestamp %>
                <p><%= review.review %><p>
            </a>
        </li>
        <% }); %>
    </ul>
</div>
<% } %>